.main
  flex: 1
  visibility: hidden
  // position: relative
  display: flex
  flex-direction: column

.editor
  font-size: 12px
  flex: 1
  position: relative

.editorHolder
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  overflow: scroll
  position: absolute

.buttonsPanel
  // position: absolute
  // bottom: 20px
  // left: 0
  // right: 0
  display: flex
  justify-content: center
  align-items: center
  margin: 10px

.saveButton
  margin: 0 auto 20px auto

.selectedLine
  background-color: rgba(255,255,255,0.1)
  border-top: 1px solid rgba(255,255,255,0.2)
  border-bottom: 1px solid rgba(0,0,0,0.3)

// Links are too long, so I made them shorter
.selectedTextLine
  letter-spacing: -1px

// fonts fallback
:global(.wf-active)
  .main
    visibility: visible

// Use fallback font if not loaded
:global(.wf-inactive)
  .main
    visibility: visible

.cancelPoint
  background-color: #535353
