/* Dead simple css spinner https://codepen.io/MoOx/pen/grXZRQ */

.main {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  opacity: 0.5;
  animation: opacity 0.6s infinite linear 0.25s;
  opacity: 0;
}

.spinner {
  display: block;
  margin: 10px;
  height: 30px;
  width: 30px;
  border: 6px solid rgba(0, 174, 239, 0.2);
  border-top-color: rgba(0, 174, 239, 0.8);
  border-radius: 100%;
  animation: rotation 0.6s infinite linear 0.25s;

  /* the opacity is used to lazyload the spinner, see animation delay */
  /* this avoid the spinner to be displayed when visible for a very short period of time */
  opacity: 0;
}

@keyframes rotation {
  from {
    opacity: 1;
    transform: rotate(0deg);
  }
  to {
    opacity: 1;
    transform: rotate(359deg);
  }
}

@keyframes opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
